.inp {
    border-radius: 6px;
}

.title {
    width: 84px;
}

.backDiv {
    border: solid 1px;
    height: 500px;
    width: 1000px;
    margin:auto;
    display: none;
}

.bigDiv {
    display: flex;
    margin-top: 10px;
}

.outDiv {
    border: solid 1px;
    margin-left: 40%;
    padding-bottom: 10px;
    width: 282px;
    padding-left: 23px;
}
.btn {
    margin: 1% 45%;
}