<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/vuejs-2.5.16.js"></script>
    <script src="js/axios.js"></script>

</head>
<body>
<div id="mainBody">
    <div class="outDiv">
        <div class="bigDiv">
            <div class="title"><span>sql输入框:</span></div>
            <input class="inp" id="comCode" v-model="sql.sql"/>
        </div>


    </div>
    <button class="btn" @click="submit()">提交</button>
    <div class="backDiv" id="backDiv">
        <div class="bigDiv">
            <tr v-for="(linkman,index) in linkmanList">
                <td v-text="linkman.name"></td>
                <td v-text="linkman.sex"></td>
                <td v-text="linkman.age"></td>
                <td v-text="linkman.address"></td>
            </tr>
        </div>
    </div>

</div>
</body>
<script src="js/index.js"></script>
</html>